.App {
  --black-color: #02111B;
  --grey-color: #3F4045;
  --purple-color: #30292F;
  --light-blue-color: #5D737E;
  --off-white-color: #FCFCFC;

  text-align: center;
  background-color: var(--light-blue-color);
  color: var(--off-white-color);
}

#controls {
  display: flex;
  flex-direction: row; 
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

  min-height: 25vh;
}