.App {
  text-align: center;
  background-color: lightcoral;
  color: white;
}

#controls {
  display: flex;
  flex-direction: row; 
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

  min-height: 25vh;
}