#display {
  min-height: 100%;
  min-width: 300px;
  background-color: blue;

  font-size: 2em;
  font-weight: bolder;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:641px) {
  #display {
    min-width: 100%;
    min-height: 50%;
    border-radius: 0;
  }
}