.drumpads-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  
  width: 100%;
}


@media (min-width:641px) {
  .drumpads-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}