.drumpad {
  min-width: 33.333%;  
  height: 20vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bolder;
  font-size: 2em;
  color: var(--off-white-color);
}

@media (min-width:641px) {
  .drumpad {
    height: 25vh;
  }
}

@keyframes AnimateBackground { 
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}